<rules>
	<rule name="infusai01" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/index.html" />
		</conditions>
	  <action type="Redirect" url="https://infusai.com" redirectType="Permanent" />
	</rule>
	<!--<rule name="infusai02" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/finance-and-operation/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamics-365-finance-and-operations/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/dynamics-365-finance-and-operations/" redirectType="Permanent" />
	</rule>
	<rule name="infusai03" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/buisness-central-nav/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamics-365-business-central/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/dynamics-365-business-central/" redirectType="Permanent" />
	</rule>
	<rule name="infusai04" stopProcessing="true">
	  	<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/sales-and-ai/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamics-365-sales-CRM/index.html" />
		 </conditions>
	 <action type="Redirect" url="https://infusai.com/dynamics-365-sales-CRM/" redirectType="Permanent" />
	</rule>
	<rule name="infusai05" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/marketing-and-market-insights/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamics-365-marketing-CRM/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/dynamics-365-marketing-CRM/" redirectType="Permanent" />
	</rule>
	<rule name="infusai06" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/customer-service-and-ai/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamics-365-customers-service/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/dynamics-365-customers-service/" redirectType="Permanent" />
	</rule>
	<rule name="infusai07" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/field-services/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamics-365-field-service-management/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/dynamics-365-field-service-management/" redirectType="Permanent" />
	</rule>
	<rule name="infusai08" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/project-service-automation/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamics-365-project-service-automation/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/dynamics-365-project-service-automation/" redirectType="Permanent" />
	</rule>
	<rule name="infusai09" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/talent/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamics-365-hr-talent-management/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/dynamics-365-hr-talent-management/" redirectType="Permanent" />
	</rule>
	<rule name="infusai10" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/mixed-reality/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamics-365-remote-assist-and-guides/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/dynamics-365-remote-assist-and-guides/" redirectType="Permanent" />
	</rule>
	<rule name="infusai11" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/power-apps/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/microsoft-power-platform/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/microsoft-power-platform/" redirectType="Permanent" />
	</rule>
	<rule name="infusai12" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-transformation/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-transformation-services/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/digital-transformation-services/" redirectType="Permanent" />
	</rule>
	<rule name="infusai13" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/build-power-apps/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/microsoft-powerapp-development/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/microsoft-powerapps-development/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/microsoft-powerapps-development/" redirectType="Permanent" />
	</rule>
	<rule name="infusai14" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/build-ai-enabled-apps/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/ai-app-builder/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/ai-app-builder/" redirectType="Permanent" />
	</rule>
	<rule name="infusai15" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamics-365-implementation/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/microsoft-dynamics-365/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/microsoft-dynamics-365/" redirectType="Permanent" />
	</rule>
	<rule name="infusai16" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/cloud-migration/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/cloud-migration-service/.index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/cloud-migration-service/" redirectType="Permanent" />
	</rule>
	<rule name="infusai17" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamic-365-support-services/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/microsoft-dynamics-365-support/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/microsoft-dynamics-365-support/" redirectType="Permanent" />
	</rule>
	<rule name="infusai18" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/energy/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/CRM-ERP-for-energy-sector/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/CRM-ERP-for-energy-sector/" redirectType="Permanent" />
	</rule>
	<rule name="infusai19" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/financial-services/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/CRM-ERP-for-financial-services/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/CRM-ERP-for-financial-services/" redirectType="Permanent" />
	</rule>
	<rule name="infusai20" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/government/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/CRM-ERP-for-government/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/CRM-ERP-for-government/" redirectType="Permanent" />
	</rule>
	<rule name="infusai21" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/healthcare/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/CRM-ERP-for-healthcare/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/CRM-ERP-for-healthcare/" redirectType="Permanent" />
	</rule>
	<rule name="infusai22" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/manufacturing/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/CRM-ERP-for-manufacturing/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/CRM-ERP-for-manufacturing/" redirectType="Permanent" />
	</rule>
	<rule name="infusai23" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/media-and-entertainment/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/CRM-ERP-for-media-and-entertainment/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/CRM-ERP-for-media-and-entertainment/" redirectType="Permanent" />
	</rule>
	<rule name="infusai24" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/retail/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/CRM-ERP-for-retail/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/CRM-ERP-for-retail/" redirectType="Permanent" />
	</rule>
	<rule name="infusai25" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/careers/index.html" />
		</conditions>
	  <action type="Redirect" url="https://infusai.com/careers/" redirectType="Permanent" />
	</rule>
	<rule name="infusai26" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/about-us/index.html" />
		</conditions>
	  <action type="Redirect" url="https://infusai.com/about-us/" redirectType="Permanent" />
	</rule>
	<rule name="infusai27" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/contact-us/index.html" />
		</conditions>
	  <action type="Redirect" url="https://infusai.com/contact-us/" redirectType="Permanent" />
	</rule>
	<rule name="infusai28" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/disclaimer/index.html" />
		</conditions>
	  <action type="Redirect" url="https://infusai.com/disclaimer/" redirectType="Permanent" />
	</rule>
	<rule name="infusai29" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/privacy-policy/index.html" />
		</conditions>
	  <action type="Redirect" url="https://infusai.com/privacy-policy/" redirectType="Permanent" />
	</rule>
	<rule name="infusai30" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/terms-of-use/index.html" />
		</conditions>
	  <action type="Redirect" url="https://infusai.com/terms-of-use/" redirectType="Permanent" />
	</rule>
	<rule name="infusai31" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/InfusMetrics/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/InfusMetrics/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamics-365-infusmetrics/index.html" />
		</conditions>
	  <action type="Redirect" url="https://infusai.com/dynamics-365-infusmetrics/" redirectType="Permanent" />
	</rule>-->
  </rules>