<rules>
	<!--<rule name="infusai01" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/index.html" />
		</conditions>
	  <action type="Redirect" url="https://infusai.com" redirectType="Permanent" />
	</rule>-->
	<rule name="infusai02" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/power-platform/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/power-platform/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/power-platform" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/power-platform" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/microsoft-powerapps-development" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/microsoft-power-platform" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/microsoft-power-platform/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/microsoft-power-platform/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/microsoft-power-platform/" redirectType="Permanent" />
	</rule>
	<rule name="infusai03" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/ai-app-builder/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-ai-cognitive/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-ai-cognitive/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-ai-cognitive" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-ai-cognitive" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/ai-cognitive-solutions" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/ai-cognitive-solutions/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/ai-cognitive-solutions/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/ai-cognitive-solutions/" redirectType="Permanent" />
	</rule>
	<rule name="infusai04" stopProcessing="true">
	  	<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/cloud-migration-service/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/cloud-transformation-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/cloud-transformation-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/cloud-transformation-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/cloud-transformation-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/cloud-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/cloud-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/cloud-services/index.html" />
		 </conditions>
	 <action type="Redirect" url="https://infusai.com/cloud-services/" redirectType="Permanent" />
	</rule>
	<rule name="infusai05" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dymanics-365-nav-business-central/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/dymanics-365-nav-business-central/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/dymanics-365-nav-business-central" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dymanics-365-nav-business-central" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dymanics-365-business-central" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/dynamics-365-business-central" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/dynamics-365-business-central/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamics-365-business-central/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/dynamics-365-business-central/" redirectType="Permanent" />
	</rule>
	
	<rule name="infusai07" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamics-365-marketing-CRM/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/sales-marketing/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/sales-marketing/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/sales-marketing" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/sales-marketing" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/marketing-crm-automation" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/marketing-crm-automation/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/marketing-crm-automation/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/marketing-crm-automation/" redirectType="Permanent" />
	</rule>
	<rule name="infusai08" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamics-365-customers-service/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/sales-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/sales-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/sales-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/sales-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/dynamics-365-salesforce-for-customer-service" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/dynamics-365-salesforce-for-customer-service/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamics-365-salesforce-for-customer-service/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/dynamics-365-salesforce-for-customer-service/" redirectType="Permanent" />
	</rule>
	<rule name="infusai09" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamics-365-field-service-management/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/sales-field-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/sales-field-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/sales-field-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/sales-field-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/dynamics-365-salesforce-for-field-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/dynamics-365-salesforce-for-field-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamics-365-salesforce-for-field-services/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/dynamics-365-salesforce-for-field-services/" redirectType="Permanent" />
	</rule>
	<rule name="infusai10" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamics-365-project-service-automation/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/sales-it-process-automation/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/sales-it-process-automation" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/sales-it-process-automation/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/sales-it-process-automation" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/it-process-automation" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/it-process-automation/index.html" />
			 <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/process-automation" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/process-automation/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/it-process-automation/" redirectType="Permanent" />
	</rule>
	<!--Complete website redirecting code-->
	<rule name="infusai11" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/about-us/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/about-us/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/about-us" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/about-us/" redirectType="Permanent" />
	</rule>
	<rule name="infusai12" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/aws/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/aws/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/aws" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/aws" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/amazon-web-services-aws" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/amazon-web-services-aws/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/amazon-web-services-aws/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/amazon-web-services-aws/" redirectType="Permanent" />
	</rule>
	<rule name="infusai13" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/careers/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/careers/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/careers" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/careers/" redirectType="Permanent" />
	</rule>
	<rule name="infusai14" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/cloudtelephony/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/cloudtelephony/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/cloudtelephony" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/cloudtelephony" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/cloud-telephony-solutions" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/cloud-telephony-solutions/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/cloud-telephony-solutions/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/cloud-telephony-solutions/" redirectType="Permanent" />
	</rule>
	<rule name="infusai15" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/consulting-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/consulting-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/consulting-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/consulting-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/it-consulting-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/it-consulting-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/it-consulting-services/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/it-consulting-services/" redirectType="Permanent" />
	</rule>
	<rule name="infusai16" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/contact-us/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/contact-us/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/contact-us" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/contact-us/" redirectType="Permanent" />
	</rule>
	<rule name="infusai17" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/development-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/development-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/development-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/development-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/web-mobile-app-development" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/web-mobile-app-development/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/web-mobile-app-development/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/web-mobile-app-development/" redirectType="Permanent" />
	</rule>
	<rule name="infusai18" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-data-analytics/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-data-analytics/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-data-analytics" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-data-analytics" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/data-analytics-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/data-analytics-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/data-analytics-services/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/data-analytics-services/" redirectType="Permanent" />
	</rule>
	<rule name="infusai19" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-inelligent-rpa/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-inelligent-rpa/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-inelligent-rpa" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-inelligent-rpa" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/robotics-process-automation" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/robotics-process-automation/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/robotics-process-automation/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/robotics-process-automation/" redirectType="Permanent" />
	</rule>
	<rule name="infusai20" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-integration/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-integration/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-integration" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-integration" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-integration-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-integration-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/integration-services/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/digital-integration-services/" redirectType="Permanent" />
	</rule>
	<rule name="infusai21" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-interactive/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-interactive/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-interactive" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-interactive" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-interactive-solutions" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-interactive-solutions/index.html" />
			 <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/interactive-solutions" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/interactive-solutions/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/digital-interactive-solutions/" redirectType="Permanent" />
	</rule>
	<rule name="infusai22" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-iot/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-iot/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-iot" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-iot" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/iot-solutions" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/iot-solutions/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/iot-solutions/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/iot-solutions/" redirectType="Permanent" />
	</rule>
	<rule name="infusai23" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-microservices/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-microservices/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-microservices" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-microservices" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/microservices" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/microservices/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/microservices/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/microservices/" redirectType="Permanent" />
	</rule>
	<rule name="infusai24" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-mobile-applications/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-mobile-applications/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-mobile-applications" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-mobile-applications" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/mobile-app-development" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/mobile-app-development/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/mobile-app-development/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/mobile-app-development/" redirectType="Permanent" />
	</rule>
	<rule name="infusai25" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-mobility/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-mobility/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-mobility" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-mobility" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/mobility-solutions" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/mobility-solutions/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/mobility-solutions/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/mobility-solutions/" redirectType="Permanent" />
	</rule>
	<rule name="infusai26" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-transformation-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-transformation-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-transformation-services" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/digital-transformation-services/" redirectType="Permanent" />
	</rule>
	<rule name="infusai27" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-web-application-development/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-web-application-development/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/digital-web-application-development" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/digital-web-application-development" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/web-development" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/web-development/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/web-development/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/web-development/" redirectType="Permanent" />
	</rule>
	<rule name="infusai28" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/disclaimer/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/disclaimer/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/disclaimer" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/disclaimer/" redirectType="Permanent" />
	</rule>
	<rule name="infusai29" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/force-platform/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/force-platform/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/force-platform" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/force-platform/" redirectType="Permanent" />
	</rule>
	<rule name="infusai30" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/google-cloud-platform/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/google-cloud-platform/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/google-cloud-platform" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/google-cloud-platform" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/google-cloud-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/google-cloud-services/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/google-cloud-services/" redirectType="Permanent" />
	</rule>
	<rule name="infusai31" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/implementation-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/implementation-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/implementation-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/implementation-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/CRM-ERP-for-manufacturing" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/erp-crm-implementation-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/erp-crm-implementation-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/erp-crm-implementation-services/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/erp-crm-implementation-services/" redirectType="Permanent" />
	</rule>
	<rule name="infusai32" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/managed-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/managed-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/managed-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/managed-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/it-managed-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/it-managed-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/it-managed-services/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/it-managed-services/" redirectType="Permanent" />
	</rule>
	<rule name="infusai33" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/microsite/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/microsite/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/microsite" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/microsoft-hub" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/microsoft-hub/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/microsoft-hub/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/microsoft-hub/" redirectType="Permanent" />
	</rule>
	<rule name="infusai34" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<!--<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/microsoft-dynamics-365/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/microsoft-dynamics-365/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/microsoft-dynamics-365" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/microsoft-dynamics-365" />-->
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/microsoft-dynamics-365-partner" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/microsoft-dynamics-365-partner/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/microsoft-dynamics-365-partner/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/microsoft-dynamics-365-partner/" redirectType="Permanent" />
	</rule>
	<rule name="infusai35" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/migration-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/migration-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/migration-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/migration-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/cloud-migration-services" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/cloud-migration-services/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/cloud-migration-services/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/cloud-migration-services/" redirectType="Permanent" />
	</rule>
	<rule name="infusai36" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/nanonets/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/nanonets/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/nanonets" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/nanonets/" redirectType="Permanent" />
	</rule>
	<rule name="infusai37" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/privacy-policy/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/privacy-policy/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/privacy-policy" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/privacy-policy/" redirectType="Permanent" />
	</rule>
	<rule name="infusai38" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/sales-finance/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/sales-finance/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/sales-finance" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/sales-finance/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/sales-finance" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/sales-finance/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/dynamics-365-salesforce-for-finance" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/dynamics-365-salesforce-for-finance/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamics-365-salesforce-for-finance/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/dynamics-365-salesforce-for-finance/" redirectType="Permanent" />
	</rule>
	<rule name="infusai39" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/sales-operations/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/sales-operations/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/sales-operations" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/sales-operations" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/dynamics-365-salesforce-for-operations" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/dynamics-365-salesforce-for-operations/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamics-365-salesforce-for-operations/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/dynamics-365-salesforce-for-operations/" redirectType="Permanent" />
	</rule>
	<!--<rule name="infusai40" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/salesforce/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/salesforce/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/salesforce" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/salesforce" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/salesforce-development-partner" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/salesforce-development-partner/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/salesforce-development-partner/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/salesforce-development-partner/" redirectType="Permanent" />
	</rule>-->
	<rule name="infusai41" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/service-now/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/service-now/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/service-now" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/service-now" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/servicenow-partner" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/servicenow-partner/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/servicenow-partner/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/servicenow-partner/" redirectType="Permanent" />
	</rule>
	<rule name="infusai42" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/terms-of-use/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/terms-of-use/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/terms-of-use" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/terms-of-use/" redirectType="Permanent" />
	</rule>
	
	<!--<rule name="infusai43" stopProcessing="true">
		<match url="(.*)" />
		 <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/dynamics-365-sales-CRM/" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/sales/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/sales/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/sales" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/sales-and-ai" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/sales-and-ai" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/sales" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/sales-crm-automation" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.infusai.com/sales-crm-automation/index.html" />
			<add input="{HTTP_HOST}{REQUEST_URI}" pattern="infusai.com/sales-crm-automation/index.html" />
		 </conditions>
	  <action type="Redirect" url="https://infusai.com/sales-crm-automation/" redirectType="Permanent" />
	</rule>-->
  </rules>